﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.PugPigConnector.BusinessLogic.Models.Edition>
@{
    Response.ContentType = System.Net.Mime.MediaTypeNames.Text.Xml;
    Layout = null;
}<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xmlns:dcterms="http://purl.org/dc/terms/" xmlns:opds="http://opds-spec.org/2010/catalog" xmlns:app="http://www.w3.org/2007/app" xmlns:at="http://purl.org/atompub/tombstones/1.0">
    <!-- Edition Atom Feed - Generated: @DateTime.UtcNow -->
    <id>@Model.Id</id>
    <link type="application/atom+xml;profile=opds-catalog;kind=acquisition" href="@Model.PugPigUrl" rel="self"/>
    <title>@Model.Title</title>
    <summary type="text">@Model.Summary</summary>
    <author>
        <name>@Model.Author</name>
    </author>
    <updated>@Model.Updated</updated>    
    @foreach (var page in Model.Pages)
    {
        <entry>
            <title type="text">@page.Title</title>
            <summary type="text">@page.Summary</summary>
            <id>@page.Id</id>
            <updated>@page.Updated</updated>
            <published>@page.Updated</published>
            <link type="text/cache-manifest" href="@page.CacheManifestUrl" rel="related"/>
            <link type="text/html" href="@page.PermaLink" rel="alternate"/>
        </entry>
    }  
</feed>