﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
    var bodyText = ConvertToRelativeMediaLinks(Model.Content.GetPropertyValue<string>("bodyText"));
}

<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>@Model.Content.GetPropertyValue("summary")</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <link href="../../App_Plugins/PugPigConnector/styles/pp-skin-1-clean.css" rel="stylesheet" />
    </head>

    <body class="pp-feature-01">

        <div class="pp-container">

            <p class="pp-slug">Section</p>

            <article class="pp-article">

                <section class="pp-article__header">
                    <figure data-image-group="pp-gallery" class="pp-media pp-media--hero pp-media--gallery">
                        <img class="pp-media__image" src="../../App_Plugins/PugPigConnector/images/pp-main-image-placeholder-01.png">
                        <figcaption class="pp-media__caption">Main image caption. Vestibulum id ligula porta felis euismod semper.</figcaption>
                        <p class="pp-media__credit">Main image credit</p>
                    </figure>

                    <figure data-image-group="pp-gallery" class="pp-media is-hidden">
                        <img class="pp-media__image" src="../../App_Plugins/PugPigConnector/images/pp-main-image-placeholder-01.png">
                        <figcaption class="pp-media__caption">Gallery image caption.</figcaption>
                        <p class="pp-media__credit">Gallery image credit</p>
                    </figure>

                    <div class="pp-header-group">
                        <p class="pp-slug pp-slug--header-group">Section</p>
                        <h1 class="pp-header-group__headline">@Model.Content.GetPropertyValue("title")</h1>
                        <h2 class="pp-header-group__subhead">Subheadline goes here</h2>
                        <p class="pp-header-group__standfirst">@Model.Content.GetPropertyValue("summary")</p>
                        <figure class="pp-header-group__author pp-author">
                            <img class="pp-author__image" src="../../App_Plugins/PugPigConnector/images/pp-inline-image-placeholder-02.png">
                            <p class="pp-author__credit">@Model.Content.GetPropertyValue("author") | 16th June 2015</p>
                        </figure>
                    </div>
                </section>

                <section class="pp-article__body">
                    @Html.Raw(bodyText)   
                </section>
            </article>

            <footer class="pp-footer">
                <section class="pp-footer__copy">
                    <p class="pp-credit">Footer credit</p>
                </section>

                <section class="pp-footer__back-to-top">
                    <a href="#" class="scrollToTop"><p class="pp-back-to-top"></p></a>
                </section>
            </footer>

        </div>
      
        <script src="../../App_Plugins/PugPigConnector/scripts/jquery.js"></script>
        <script src="../../App_Plugins/PugPigConnector/scripts/mustache.js"></script>
        <script src="../../App_Plugins/PugPigConnector/scripts/main.js"></script>

    </body>
</html>



@functions{
    string ConvertToRelativeMediaLinks(string text)
    {
        return text.Replace("/media/", "../../media/");
    }
}

