﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.PugPigConnector.BusinessLogic.Models.Publication>
@{
    Response.ContentType = System.Net.Mime.MediaTypeNames.Text.Xml;
    Layout = null;
}<?xml version="1.0" encoding="UTF-8" ?>
<feed xmlns="http://www.w3.org/2005/Atom" xmlns:dcterms="http://purl.org/dc/terms/" xmlns:opds="http://opds-spec.org/2010/catalog" xmlns:app="http://www.w3.org/2007/app" xmlns:at="http://purl.org/atompub/tombstones/1.0">
    <!-- Publication Atom Feed - Generated: @DateTime.UtcNow -->
    <id>@Model.Id</id>
    <link type="application/atom+xml;profile=opds-catalog;kind=acquisition" href="@Model.PugPigUrl" rel="self" />
    <title>@Model.Title</title>
    <updated>@Model.Updated</updated>
    @foreach (var edition in Model.Editions)
    {
        <entry>
            <title>@edition.Title</title>
            <id>@edition.Id</id>
            <updated>@edition.Updated</updated>
            <published>@edition.Published</published>
            <dcterms:issued>@edition.Issued</dcterms:issued>
            <author>
                <name>@edition.Author</name>
            </author>
            @edition.IsDraftXml()
            <summary type="text">@edition.Summary</summary>
            <link type="image/jpg" href="@GetImageUrl(edition.CoverImage)" rel="http://opds-spec.org/image" />
            <link type="application/atom+xml" href="@edition.PugPigUrl" rel="@edition.FeedRel" />
            <link type="application/atom+xml" href="@edition.PugPigUrl" rel="alternate" />
        </entry>
    }
</feed>


@functions{
    string GetImageUrl(string id)
    {
        var image = Umbraco.TypedMedia(id);
        if (image != null && image.Id != 0)
        {
            return Umbraco.TypedMedia(id).Url.Replace("/media/", "media/");
        }
        return string.Empty;
    }
}